<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953224470422-4c0318jj257j18l28dpi699eoqmfhutf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953224470422-4c0318jj257j18l28dpi699eoqmfhutf</string>
	<key>API_KEY</key>
	<string>AIzaSyCvrShODzIj6nuXO23dCB0ljj1GlKafVfM</string>
	<key>GCM_SENDER_ID</key>
	<string>953224470422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driveonFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>drive-on-3d6ad</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-on-3d6ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953224470422:ios:78e219dc56d931580287b7</string>
</dict>
</plist>